<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>View Submitted Coupons</title>
  <link rel="stylesheet" href="css/view_coupons.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway+Dots">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
 </head>
 <body>
   <h1>Submitted Coupons</h1>
   <!--FIRST COUPON-->
    <div class="top">
     Coupon name: <%= Cutepun.name %>
       <br>
       Discount: <%= Cutepun.discount_amount %>
       <br>
       Expiration Date: <%= Cutepun.expiration_date %>
       <br>
       Store: <%= Cutepun.store %>
       <br>
       Type: <%= Cutepun.type %>
       <br>
       Description: <%= Cutepun.description %>
   </div>
   <!--SECOND COUPON-->
   <div class="top">
    Coupon name: <%= Cutepun2.name %>
       <br>
       Discount: <%= Cutepun2.discount_amount %>
       <br>
       Expiration Date: <%= Cutepun2.expiration_date %>
       <br>
       Store: <%= Cutepun2.store %>
       <br>
       Type: <%= Cutepun2.type %>
       <br>
       Description: <%= Cutepun3.description %>
           <br>
     </div>
   <!--THIRD COUPON-->
   <div class="top">
       Coupon name: <%= Cutepun2.name %>
       <br>
       Discount: <%= Cutepun2.discount_amount %>
       <br>
       Expiration Date: <%= Cutepun2.expiration_date %>
       <br>
       Store: <%= Cutepun3.store %>
       <br>
       Type: <%= Cutepun3.type %>
       <br>
       Description: <%= Cutepun3.description %>
    </div>
         
        <!--SORTING SORTING SORTING-->
<!--           <%= Coupon.coupon_by_name %> (the thing is not in order unless you call on this, like having called on the method before in the application_controller does not order the list for you, you have to call on the sort method inside to sort the thing out)
           <br><br>
          <%= Coupon.coupon_by_expiration %>
           <br><br>
          <%= Coupon.coupon_by_discount %> -->
  <p>
   <h2>Alphabetize:</h2>
         <% Coupon.alphabet.each do |name, details| %>  
             <div class="row">
                 <div class="span12">
                    <h4><%= details %></h4>
                  </div>
             </div>
         <% end %> 
             <br><br><br><br>
    
   <h2>Expiration Date:</h2>
         <% Coupon.expiration.each do |date, details| %>  
             <div class="row">
                 <div class="span12">
                    <h4><%= date + details %></h4>
                  </div>
             </div>
         <% end %> 
           <br><br><br><br>
      <h2>Store:</h2>
       <% Coupon.store.each do |store, details| %>  
             <div class="row">
                 <div class="span12">
                    <h4><%= store + details %></h4>
                  </div>
             </div>
         <% end %> 
           <br><br><br><br>
         
       <h2>Dollars off:</h2>
         <% Coupon.sort_dollar.each do |dollar, details| %>  
             <div class="row">
                 <div class="span12">
                    <h4><%= "$" + dollar.to_s + details %></h4>
                  </div>
         </div>
          <% end %>
         <br>
   <h2>Percent:</h2>
         <% Coupon.sort_percent.each do |percent, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h4><%= percent.to_s + "%" + details %></h4>
                        </div>
                   </div>
          <% end %>
           <br><br>
        
    <br><br><br>
         
    </p>
   <!--<a href="organize" id="link">Click here to view your alphabetized coupons</a>-->
 </body>
</html>
