<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>View Submitted Coupons</title>
  <link rel="stylesheet" href="css/view_coupons.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway+Dots">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
 </head>
 <body>
   <h1>Submitted Coupons</h1>

        
           <br><br>
<!--           <%= Coupon.coupon_by_name %> (the thing is not in order unless you call on this, like having called on the method before in the application_controller does not order the list for you, you have to call on the sort method inside to sort the thing out)
           <br><br>
          <%= Coupon.coupon_by_expiration %>
           <br><br>
          <%= Coupon.coupon_by_discount %> -->
         Alphabetize
         <% Coupon.alphabet.each do |name, details| %>  
             <div class="row">
                 <div class="span12">
                    <h2><%= details %></h2>
                  </div>
             </div>
         <% end %> 
             <br><br><br><br>
    
         Expiration Date:
         <% Coupon.expiration.each do |date, details| %>  
             <div class="row">
                 <div class="span12">
                    <h2><%= date + details %></h2>
                  </div>
             </div>
         <% end %> 
           <br><br><br><br>
         Store:
       <% Coupon.store.each do |store, details| %>  
             <div class="row">
                 <div class="span12">
                    <h2><%= store + details %></h2>
                  </div>
             </div>
         <% end %> 
           <br><br><br><br>
         
           Dollars off:
          <% Coupon.sort_dollar.each do |dollar, details| %>  
             <div class="row">
                 <div class="span12">
                    <h2><%= "$" + dollar.to_s + details %></h2>
                  </div>
             </div>
          <% end %>
         <br>
         Percent: 
         <% Coupon.sort_percent.each do |percent, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h2><%= percent.to_s + "%" + details %></h2>
                        </div>
                   </div>
          <% end %>
          <br>
    Other: 
         <% Coupon.miscellaneous.each do |thing, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h2><%= thing.to_s + ": " + details %></h2>
                        </div>
                   </div>
          <% end %>
           <br><br><br><br><br><br>
    Food:
    <% Coupon.food.each do |thing, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h2><%= thing.to_s + ": " + details %></h2>
                        </div>
                   </div>
          <% end %>
        <br><br>
    Clothing
    <% Coupon.clothing.each do |thing, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h2><%= thing.to_s + ": " + details %></h2>
                        </div>
                   </div>
          <% end %>
    <br><br>
    Electronics
    <% Coupon.electronics.each do |thing, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h2><%= thing.to_s + ": " + details %></h2>
                        </div>
                   </div>
          <% end %>
    <br><br>
    Supplies
    <% Coupon.supplies.each do |thing, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h2><%= thing.to_s + ": " + details %></h2>
                        </div>
                   </div>
          <% end %>
    <br><br>
    Furniture
    <% Coupon.furniture.each do |thing, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h2><%= details %></h2>
                        </div>
                   </div>
          <% end %>
    <br><br>
    Cosmetic
    <% Coupon.cosmetic.each do |thing, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h2><%= thing.to_s + ": " + details %></h2>
                        </div>
                   </div>
          <% end %>
    <br><br>
    Others
    <% Coupon.other.each do |thing, details| %>  
                   <div class="row">
                       <div class="span12">
                          <h2><%= thing.to_s + ": " + details %></h2>
                        </div>
                   </div>
          <% end %>
    
    <br><br><br>
    
         
    </p>
   <a href="index" id="link">Renter Coupons</a> 
 </body>
</html>
